.container {
    max-width: 1000px;
}

body {
    font-family: 'Inter', sans-serif !important;
}

h1,
h2,
h2 {
    font-family: 'Prosto One', cursive;
}

a {
    text-decoration:none;
    color: #03eeee;
    transition: 0.2s;
}

a:hover {
    transition: 0.2s;
    color: #21a9ad;
}
