.container {
    max-width: 1000px;
}

body,
.likely__button {
    font-family: 'Inter', sans-serif !important;
}

h1,
h2,
h2 {
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

#vk_comments {
    margin-top: 3em;
}

table {
    overflow-x: auto;
    display: block;
}
