.container {
    max-width: 1000px;
}

body {
    font-family: 'Inter', sans-serif !important;
    font-size: 1.2em;
}

h1,
h2,
h2 {
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}
