---
layout: default
---

<hr>

<div class="row">
    {% for category in site.categories %}
    <div class="col-12 my-3">
        <h2 class="mb-3">{{ category[0] }}</h2>

        <div class="row mt-2">
            {% for tag in site.tags %}
            <div class="col-12 col-md-6 col-lg-6 py-2">
                <h3 class="fs-6 fw-bold mt-2">{{ tag[0] }}</h3>

                {% assign posts = site.posts | where: "category", category[0] | where: "tag", tag[0] %}
                {% for post in posts %}
                <a class="d-block" style="padding: 3px 0;" href="{{ post.url }}">{{ post.title }}</a>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
