---
layout: default
---

<hr>

<header class="my-3">
    <h2>{{ page.title }}</h2>
</header>

<article style="max-width: 800px;">
    {{ content }}

    <div class="d-flex justify-content-evenly mx-3 mt-5">
        {% if page.previous.url %}
        <div class="d-block p-3" >
            <b>Назад:</b>
            <a href="{{page.previous.url}}">
                {{page.previous.title}}
            </a>
        </div>
        {% endif %}
        {% if page.next.url %}
        <div class="d-block p-3" >
            <b>Дальше: </b>
            <a href="{{page.next.url}}">
                {{page.next.title}}
            </a>
        </div>
        {% endif %}
    </div>
</article>

<div id="vk_comments"></div>
<script type="text/javascript">
    VK.Widgets.Comments("vk_comments", {limit: 10, attach: false});
</script>

